html {
	scroll-behavior: smooth;
}

body {
	// background-color: var(--page-bg);
	// color: var(--text-color);
  // font-family: var(--font-main);
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;

}

.main {
	flex-grow: 1;
}


.text {
	font-family: var(--font-opensans);
	font-weight: 300;
}



/*====================ticky-footer====*/ 
// html, body {
// 	// min-height: 100vh;
// 	// display: flex;
// 	// flex-direction: column;
// }

// .footer {
// 	// margin-top: auto;
// }

// .footer {
// padding: 60px 0;
// background-color: #e3e3e3;
// }