@font-face {
	font-family: 'BrunoAce-Regular';
	src:url('../fonts/BrunoAce-Regular.woff2') format('woff2'),
			url('../fonts/BrunoAce-Regular.woff') format('woff'),
			url('../fonts/BrunoAce-Regular.ttf') format('truetype');
	font-weight: 700;
}
// @font-face {
// 	font-family: 'Roboto-Bold';
// 	src: url('fonts/Roboto-Bold.eot');
// 	src: local('fonts/Roboto-Bold'), local('../Stolzl-Book'),
// 			url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
// 			url('fonts/Roboto-Bold.woff2') format('woff2'),
// 			url('fonts/Roboto-Bold.woff') format('woff'),
// 			url('fonts/Roboto-Bold.ttf') format('truetype');
// 	font-weight: 700;
// 	font-style: normal;
// }