:root {
	--container-width: 1595px;
	--container-padding: 15px;

	--font-bruno: 'BrunoAce', sans-serif;
	--font-roboto: 'Roboto', sans-serif;
	--font-opensans: 'Open Sans', sans-serif;

	--index: calc(1vw + 1vh);

	--page-bg: #292727;
	// --text-color: #000;
	--text-color: #fff;
	--hover-color: #ffac30;
	--accent: #ac182c;
	--input-color: #ffffff9a;

  // --laptop-size: 1199px;
	// --tablet-size: 959px;
	// --mobile-size: 599px;

	--transition-slide: opacity 1.3s ease;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}
