.slide-01 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url('../img/img-slide-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center left;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
  &:before {
    pointer-events: none;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  &__wrapper {
    position: relative;
  }

  &__title {
    z-index: 9;
    position: fixed;
    top: 214px;
    left: 320px;
    img {
      width: 35vw;
    }
  }
}


.swiper {
  position: relative;
  z-index: 8;
  width: 100%;
  height: 100%;
}

@media(max-width: 1440px) {
  .slide-01 {

    &__title {
      top: 200px;
      left: 282px;
    }
  }
}

@media (max-width: 1370px) {
  .slide-01 {
    &__title {
      top: 150px;
      left: 210px;
    }
  }
}

@media (max-width: 1260px) {
  .slide-01 {
    &__title {
      
    }
  }
}

@media (max-width : 1150px) {
  .swiper {
    display: none;
  }
  .slide-01 {
    background-image: url('../img/img-slide-1.jpg');

  }
}